.form {
  margin-bottom: 25px;
}

.input {
  width: 250px;
  height: 30px;
  margin-right: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: background-color 200ms linear;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    border-color: #5d84b8;
  }
}

.submit {
  height: 30px;
  padding: 0 15px;
  border: none;
  background-color: #cccccc;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: #aaaaaa;
    color: #f5f5f5;
  }
}
