.title {
  margin-bottom: 15px;
}

.item {
  display: block;
  font-weight: 500;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.link {
  color: #888;

  &:hover,
  :focus {
    color: #5d84b8;
    font-style: italic;
    font-weight: 600;
    transition: color 200ms linear;
  }
}
